*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0F1117;
    color:white;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.dashboard{
    width:420px;
    background:#1C1C1E;
    border-radius:20px;
    padding:25px;
    box-shadow:0 15px 40px rgba(0,0,0,.45);
}

h1{
    font-size:32px;
    font-weight:700;
    margin-bottom:25px;
}

.card{
    background:#2C2C2E;
    padding:20px;
    border-radius:16px;
}

h2{
    margin-bottom:15px;
}

.progress{
    width:100%;
    height:10px;
    background:#3A3A3C;
    border-radius:999px;
    overflow:hidden;
    margin-bottom:12px;
}

.progress-fill{
    width:20%;
    height:100%;
    background:#34C759;
    border-radius:999px;
}

p{
    color:#A1A1AA;
}
.course-list{
    margin-top:20px;
}

.course{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0;
    border-bottom:1px solid #3A3A3C;
    font-size:16px;
}

.course:last-child{
    border-bottom:none;
}
.switch{
    position:relative;
    display:inline-block;
    width:44px;
    height:24px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    cursor:pointer;
    inset:0;
    background:#636366;
    border-radius:999px;
    transition:.3s;
}

.slider::before{
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    left:2px;
    top:2px;
    background:white;
    border-radius:50%;
    transition:.3s;
}

.switch input:checked + .slider{
    background:#34C759;
}

.switch input:checked + .slider::before{
    transform:translateX(20px);
}
